:host {
  .container {
    width: 80%;
    margin: auto;
    .list {
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .list-item {
        display: flex;
        padding: 8px;
        background-color: #c1c1c1;
        &:nth-child(4n),
        &:nth-child(4n + 3) {
          background-color: darken($color: #c1c1c1, $amount: 20);
        }
        .seat-name {
          flex: 1;
        }
        input[type="number"] {
          min-width: 100px;
          font-size: large;
        }
      }
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        padding: 16px;
        button {
            font-size: large;
            font-weight: 600;
        }
    }
  }
  .divider {
    background-color: lighten($color: #c1c1c1, $amount: 10);
    width: 100%;
    height: 40px;
    box-sizing: border-box;

  }
}
