<div class="container">
  <div class="bottom">
    <input [value]="backwardTime"
    (input)="changeBackwardTime($event)"
    style="min-width: 100px; font-size: large;" type="number" min="0" max="10" step="1">
    <span>Saniye cinsinden</span>
    <button (click)="setBackwardTime()">ÇEKİLİŞ BEKLEME SÜRESİ DEĞİŞİMİNİ ONAYLA</button>
  </div>
</div>

<div class="divider"></div>
<div class="container">
  <p>
    Burada yapılacak olan ayarlar her sadece bu tarayıcı içerisinde kalacaktır.

  </p>

  <ul class="list">
    <li class="list-item" *ngFor="let seat of seatList">

      <span class="seat-name">
        {{seat[0]}}
      </span>
      <input (input)="seatValueChange($event, seat)" type="number" [value]="seat[1]">
    </li>
  </ul>
  <div class="bottom">
    <button (click)="saveSeatConfig()" class="save">
      Kaydet
    </button>
    <button (click)="resetSeatConfig()">
      İlk Haline Getir.
    </button>
  </div>
</div>
<div class="divider"></div>