@import '../../../global.scss';
:host {
    background-color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 8px;
    display: grid;
    grid-template-areas: "header header header" "left center right";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    // grid-gap: 4px;
    grid-column-gap: 4px;
    .raffle-name {
        padding: 16px;
        background-color: $primary;
        font-weight: 600;
        font-size: larger;
        color: white;
        grid-area: header;
        display: flex;
        justify-content: space-between;
        .right {
            display: flex;

        }
        // .leftt {

        // }
    }
    .menu {
        position: relative;
        .menu-fix {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: grid;
            grid-template-rows: auto auto 1fr;
            grid-gap: 0;
            .add-user-form {
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                .form-item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    span {
                        flex: 1;
                        font-weight: 600;
                        font-size: small;
                    }
                    input {
                        flex: 2;
                        font-weight: 600;
                        font-size: small;
                    }
                    &.pull-right {
                        // display: flex;
                        justify-content: flex-end;
                    }
                }
                &.hide {
                    display: none;
                }
            }
            .user-list-info {
                text-align: center;
                font-size: large;
                background-color: $secondary;
                color: white;
                padding: 8px 0;

            }
            .user-list-container {
                overflow: auto;
                justify-self: stretch;
                .user-list {
                    display: flex;
                    flex-direction: column;
                    .user-item {
                        display: flex;
                        background-color: $primary;
                        color: white;
                        padding: 8px;
                        justify-content: space-between;
                        align-items: center;
                        &:nth-child(even) {
                            background-color: lighten($color: $primary, $amount: 10);
                        }
                        .user {
                            padding: 0 8px;
                            word-break: break-all;
                            flex: 1;
                        }
                        svg.delete {
                            display: none;

                        }
                    }
                }
                &.edit-mode .user-list .user-item svg.delete{
                    display: block;
                }
            }
        }
        &.left {
            grid-area: left
        }
        &.right {
            grid-area: right;
        }
    }
    .center {
        grid-area: center;
        position: relative;
        overflow: hidden;
        min-width: 200px;
        .top-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .4s ease-out, top .4s ease-out;
            input[type=number]{
                font-size: large;
                font-weight: 600;
                width: 50px;
                text-align: center;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
            }
            &.swipe-top {
                transform: translateY(0);
                top: 0;
            }
        }
        .bottom-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .3s ease-out;
            transform: translateY(100%);
            box-sizing: border-box;
            margin: 0 auto;
            width: 0px;
            height: 0px;
            justify-content: space-between;
            &.swipe-from-bottom {
                transform: translateY(0);
                width: 200px;
                height: 200px;
            }
            padding: 16px 8px;
            font-weight: 600;
            font-size: larger;
            color: white;
            display: flex;
            align-items: center;
            z-index: 2;
            & > div {
                text-align: center;
            }
            .empty{
                height: 30px;
                width: 30px;
            }
            .rotateable {
                animation: none;
                &.rotate {
                    animation: RotateAndScale .4s ease-out;
                }
                @keyframes RotateAndScale {
                    0% {
                        transform: scale(1) rotate(0deg);
                    }
                    50% {
                        transform: scale(2.4) rotate(180deg);
                    }
                    100% {
                        transform: scale(1) rotate(360deg);
                    }
                  }
            }
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            background-color: $primary;
        }
        .center-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: all .3s ease-out;
            transform: translateY(100%);
            border-radius: 50%;
            background-color: $secondary;
            // text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 600;
            font-size: larger;
            cursor: pointer;
            &.swipe-from-bottom {
                transform: translateY(0);
                width: 200px;
                height: 200px;
                top: 0;
            }
            &:hover {
                user-select: none;
                animation: Crazy .5s ease-out infinite, Colorful 2s ease infinite;
                @keyframes Crazy {
                    0% {
                        transform: translate(0, 0) scale(1) rotateZ(0);
                    }
                    25% {
                        transform: translate(-5px, 5px);
                    }
                    50% {
                        transform: translate(0px, 5px) scale(1.1) rotateZ(20deg);
                    }
                    75% {
                        transform: translate(5px, 5px);
                    }
                    100% {
                        transform: translate(0, 0);
                    }
                }
                @keyframes Colorful {
                    0% {
                        background-color: $secondaryDark;
                    }
                    50% {
                        background-color: $primaryDark;
                    }
                    75% {
                        background-color: red;
                    }
                    100% {
                        background-color: $secondaryDark;
                    }
                }

            }
        }
    }
    .right-menu {
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    }
    .button-primary {
        background-color: $primary;
        padding: 8px 16px;
        color: white;
        font-size: medium;
        outline: none;
        border: none;
        transition: background-color .3s ease-out;
        &:active {
            background-color: $primaryDark;

        }
}
svg.circle {
    fill: white;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    transition: background-color .3s ease-out;
    margin-left: 4px;
    &.active {
        background-color: white !important;
        fill: $primary;
    }
    &:hover {
        background-color: $primaryLight;
    }
    &.circle-mini {
        box-sizing: border-box;
        padding: 3px;
    }
}