@import '../../../global.scss';
:host {
    background-color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 8px;
    display: grid;
    grid-template-areas: "header header header" "left center right";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    // grid-gap: 4px;
    grid-column-gap: 4px;
    .raffle-name {
        padding: 16px;
        background-color: $primary;
        font-weight: 600;
        font-size: larger;
        color: white;
        grid-area: header;
        display: flex;
        justify-content: space-between;
        .right {
            display: flex;

        }
        .leftt {

        }
    }
    .left-menu {
        position: relative;
        .left-menu-fix {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            grid-area: left;
            display: grid;
            grid-template-rows: auto auto 1fr;
            grid-gap: 0;
            .add-user-form {
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                .form-item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    span {
                        flex: 1;
                        font-weight: 600;
                        font-size: small;
                    }
                    input {
                        flex: 2;
                        font-weight: 600;
                        font-size: small;
                    }
                    &.pull-right {
                        // display: flex;
                        justify-content: flex-end;
                    }
                }
                &.hide {
                    display: none;
                }
            }
            .user-list-info {
                text-align: center;
                font-size: large;
                background-color: $secondary;
                color: white;
                // margin-top: 8px;
                padding: 8px 0;

            }
            .user-list-container {
                overflow: auto;
                justify-self: stretch;
                // margin: 8px 0;
                .user-list {
                    display: flex;
                    flex-direction: column;
                    .user-item {
                        display: flex;
                        background-color: $primary;
                        color: white;
                        padding: 8px;
                        justify-content: space-between;
                        align-items: center;
                        &:nth-child(even) {
                            background-color: lighten($color: $primary, $amount: 10);
                        }
                        .user {
                            padding: 0 8px;
                            word-break: break-all;
                            flex: 1;
                        }
                        svg.delete {
                            display: none;

                        }
                    }
                }
                &.edit-mode .user-list .user-item svg.delete{
                    display: block;
                }
            }
        }
    }
    .center {
        grid-area: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input[type=number]{
            font-size: large;
            font-weight: 600;
            width: 50px;
            text-align: center;
        }
    }
    .right-menu {
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    }
    .button-primary {
        background-color: $primary;
        padding: 8px 16px;
        color: white;
        font-size: medium;
        outline: none;
        border: none;
        transition: background-color .3s ease-out;
        &:active {
            background-color: $primaryDark;

        }
}
svg.circle {
    fill: white;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    transition: background-color .3s ease-out;
    margin-left: 4px;
    &.active {
        background-color: white !important;
        fill: $primary;
    }
    &:hover {
        background-color: $primaryLight;
    }
    &.circle-mini {
        box-sizing: border-box;
        padding: 3px;
    }
}