<nav class="nav-bar" [class.hide]="dataService.isRaffleStarted && !dataService.isRaffleEnded">
  <a routerLink=""  class="logo">
    <img src="assets/logo.png" alt="Haydi Çocuklar Camiye" >
  </a>
  <div class="routes">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Ana Ekran</a>
    <a routerLink="numberraffle" routerLinkActive="active">Çekiliş</a>
    <a routerLink="settings" routerLinkActive="active">Koltuk Ayarları</a>
    <!-- <a routerLink="rafflelist" routerLinkActive="active"> Kişiye Göre Çekiliş</a> -->
  </div>
</nav>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
