<nav class="nav-bar">
  <a routerLink=""  class="logo">
    <img src="assets/logo.jpg" alt="Haydi Çocuklar Camiye" >
  </a>
  <div class="routes">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Ana Ekran</a>
    <a routerLink="numberruffle" routerLinkActive="active">Sayıya Göre Çekiliş</a>
    <a routerLink="rufflelist" routerLinkActive="active"> Kişiye Göre Çekiliş</a>
  </div>
</nav>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
