@import '../../global.scss';
:host {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $secondary;
        outline: none;
        border: none;
        transition: all .3s ease-out;
        font-size: larger;
        font-weight: 600;
        color: white;
        &:hover {
            background-color: $secondaryLight;            
        }
        &:disabled {
            background-color: grey;
            transition: none;
        }
        &.active {
            background-color: $primary;
            // transition: none;
            &:hover{
                background-color: $primaryDark;
            }
        }
        &.top-square {
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
        }
    }
}