@import '../../global.scss';
:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 1;
        .input-list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .form-item {
                font-size: larger;
                display: flex;
                align-items: center;
                flex-direction: column;
                input {
                    font-size: inherit;
                    text-align: center;
                    width: 155px;
                }
            }
        }

        .raffle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            .info {
                // opacity: .5;
                display: flex;
                align-items: center;
                height: 50px;
  
            }
            .bottom-info {
                position: absolute;
                bottom: 0;
                background-color: $primary;
                color: white;
                font-size: xx-large;
                font-weight: 600;
                padding: 35px 16px;
                // padding-bottom: 40px;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;

            }
        }
        .result {
            display: flex;
            flex-direction: column;
            overflow: auto;
            flex: 1;
            box-sizing: border-box;
            .result-container {
                flex: 1;
                position: relative;
                .scrollable{
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0; 
                    overflow: auto;
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                position: relative;
                overflow: auto;
                box-sizing: border-box;
                flex: 1;
                li {
                    box-sizing: border-box;
                    font-weight: 600;
                    font-size: x-large;
                    background-color: $primary;
                    width: 100%;
                    padding: 0 16px;
                    color: white;
                    &:nth-child(even){
                        background-color: lighten($color: $primary, $amount: 10);
                    }
                    &:nth-child(1){
                        font-size: 70px;
                        font-weight: 600;
                    }
                    &:nth-child(2){
                        font-size: 45px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .message {
        font-weight: 600;
        font-size: 45px;
        display: flex;
        justify-content: center;
        min-height: 80px;
        display: none;
    }
    .button-primary {
        background-color: $secondary;
        font-weight: 600;
        font-size: x-large;
        padding: 12px 4px;
        color: white;
        box-sizing: border-box;

    }
}