<div class="message">
  {{message}}
</div>
<div class="form">
  <div class="raffle-container">
    <div class="form-item">
      <!-- <app-raffle-button (click)="startRaffle()" [disabled]="!success || isRaffleStarted">Çekilişi Başlat</app-raffle-button> -->
      <app-raffle-button (click)="raffle()" [disabled]="isRaffleEnded">Rastgele!!</app-raffle-button>
    </div>
  </div>
  <div class="result">
    <button *ngIf="isRaffleStarted" (click)="downloadResult()" class="button-primary">Sırala ve İndir
      ({{winnerList.length}})</button>
    <div class="result-container">
      <div class="scrollable">
        <ul>
          <li *ngFor="let res of winnerList">
            {{res}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-description>
  Bu çekiliş CRR salonu koltuk numaralarına özel olarak ayarlanmıştır.
</app-description>