
<div class="form">

  <div class="input-list">

    <div class="form-item">
      <div class="form-item-title"> Başlangıç Sayısı</div>
      <div class="form-item-text">
        <input #raffleStartElement (input)="startValue($event)" type="number" value="0">
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title"> Bitiş Sayısı</div>
      <div class="form-item-text">
        <input #raffleEndElement (input)="endValue($event)" type="number" value="0">
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title"> Toplam Çekiliş</div>
      <div class="form-item-text">
        <input #raffleTotalElement (input)="countValue($event)" type="number" value="0">
      </div>
    </div>
  </div>
  <div class="raffle-container">
    <div class="info">
      <div class="message">
        {{message}}
      </div>
    </div>
    <div class="form-item">
      <app-raffle-button (click)="raffle()" [disabled]="!success">Çekilişi Başlat</app-raffle-button>
    </div>
  </div>
  <div class="result">
    <ul>
      <li *ngFor="let res of resultArray">
        {{res}}
      </li>
    </ul>
  </div>
</div>
<app-description>
  Bu çekiliş 2 sayı arasında istenilen miktarda çekiliş yapabilmeniz içindir.
</app-description>