<div class="container">
    <div class="raffle-list-container">
        <div class="header">
            <span class="title">Çekiliş Listeleri</span>
            <div class="right">
                <svg *ngIf="editMode" class="add" (click)="addRaffleItem()" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                <svg (click)="onEditMode()" [class.active]="editMode" style="padding: 3px;" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
        </div>
        <div class="raffle-list">
            <div (click)="setRaffleItem(item)" [ngClass]="{active: selectedChildRouteLink === item}" class="raffle-item" *ngFor="let item of this.dataService.getRaffleItems()">
                <a class="text">
                        {{item}}
                </a>
                <svg class="delete" *ngIf="editMode" (click)="deleteItem($event, item)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
        </div>
    </div>
    
    <div class="router-outlet">
        <router-outlet></router-outlet>
    </div>

</div>
<app-description>
    Bu çekiliş türü önceden hazırlanmış olan bir listeden, isim baz alarak çekiliş yapılması için tasarlanmıştır.
</app-description>