@import '../../global.scss';
:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    .container {
        display: flex;
        flex-direction: row;
        flex: 1;
        // padding-top: 16px;
        .raffle-list-container {
            min-width: 150px;
            max-width: 220px;
            flex-grow: 1;
            background-color: #52b7d1;
            color: $secondaryText;
            margin-right: 8px;
            .header {
                display: flex;
                flex-direction: row;
                padding: 16px;
                background-color: $primary;
                justify-content: space-between;
                align-items: center;
                .title {
                    font-weight: 600;
                    font-size: larger;
                }
                .right {
                    display: flex;
                    align-items: center;
                    svg {
                        fill: white;
                        cursor: pointer;
                        border-radius: 50%;
                        box-sizing: border-box;
                        transition: background-color .3s ease-out;
                        margin-left: 4px;
                        &.active {
                            background-color: white !important;
                            fill: $primary;
                        }
                        &:hover {
                            background-color: $primaryLight;
                        }
                    }
                }
            }
            .raffle-list {
                display: grid;
                grid-template-rows: 1fr;
                // gap: 2px;
                .raffle-item {
                    // border: solid 1px black;
                    // border-radius: 2px;
                    cursor: pointer;
                    display: flex;
                    padding: 4px;
                    background-color: #61bed5;
                    align-items: center;
                    &:nth-child(even) {
                        background-color: #52b7d1;
                    }
                    .text {
                        margin: 4px;
                        flex: 1;
                        word-break: break-word;
                    }
                    svg.delete {
                        padding: 4px;
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        transition: background-color .3s ease-out;
                        &:hover {
                            background-color: $primaryLight !important;
                        }
                    }
                    &.active {
                        background-color: $primary;
                    }
                }
            }
            &.hide {
                display: none;
            }
        }
        .router-outlet {
            position: relative;
            flex: 4;
            // padding: 8px;
        }
    }

}